@media print {
  @page {
    size: letter portrait;
    margin: 0;
  }

  * {

  }

  :root{
    --page-width: 8.5in;
    --page-height: 11in;
    --main-width: 6.8in;
    --sidebar-width: calc(var(--page-width) - var(--main-width));
  }

  hr {
    margin-bottom: 0.8rem !important;
    margin-top: 0.8rem !important;
  }
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .footer {
    display: none;
  }
  .resume-wrapper {
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0.5in 0.3in 0.3in 0.7in !important;
  }
  .resume-header .row {
    margin-left: 0
  }
  .resume-tagline {
    margin-top: 00;
  }
  .resume-title {
    align-self: flex-end;
  }
  .resume-main, .resume-title {
    flex: 1 0 auto !important;
    padding-left: 0 !important;
    width: var(--main-width)!important;
  }
  .resume-aside, .resume-contact {
    border-left: 1px solid rgba(0,0,0,.08);
    flex: 1 0 auto !important;
    width: var(--sidebar-width) !important;
  }
  .resume-contact a {
    text-decoration: none !important;
  }
  .resume-intro {
    font-size: 11pt !important;
  }
  .resume-list {
    margin-bottom: 1.2rem !important;
  }
  .contact-list {
    margin-bottom: .3rem !important;
  }
  .item-title {
    flex: none !important;
    width: auto;
  }
  .item-meta {
    flex: 1 !important;
    max-width: none !important;
  }
  .work-section .item .item-heading .item-meta {
    text-align: right !important;
  }
}
